<div class="container col-xl-10 col-xxl-8">
    <div class="row align-tems-center g-lg-5 py-5">

      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3 text-warning">
            Contact<span class="text-success"> us</span>
        </h1>
        <p class="fs-4 text-warning">Email: <span class="text-success">solarpowerpush@gmail.com</span></p>
        <p class="fs-4 text-warning">Phone: <span class="text-success">+27 658 802 985</span></p>
        <p class="fs-4 text-warning">Phone: <span class="text-success">+27 734 488 026</span></p>
      </div>
      
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-light">
            <h1 class="text-center text-success">Send us a message.</h1>

            <div class="form-floating mb-3">
               <input type="name" class="form-control" id="floatingInput" placeholder="Jane Doe">
               <label for="floatingInput">Full name</label>
            </div>

            <div class="form-floating mb-3">
               <input type="text" class="form-control" id="floatingInput" placeholder="+xx xxx xxx xxx">
               <label for="floatingInput">Phone number</label>
            </div>

          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="Type your message..."></textarea>
                <label class="text-muted" for="floatingInput">Type your message...</label>
            </div>
            
          <button class="w-100 btn btn-lg btn-success" type="submit">Submit</button>
          <hr class="my-4">
          <small class="text-muted">By clicking Submit, you'll be sending us a message which we'll reply to</small>
        </form>
      </div>
    </div>
  </div>